
@{
    ViewBag.Title = "Create a Category";
}

<br />

<h2>Create a Category</h2>
<hr />
<form method="post">
    <div class="col-md-4">
        <div class="form-group row">
            <label asp-for="Name" class="col-2 col-form-label">Name</label>
            <div class="col-10">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Create" />
    </div>
</form>