@model CategoryImageListingServiceModel

@{
    ViewBag.Title = "Browse by Category - " + Model.Name;
    Layout = "_Layout";
    var counter = 1;
}
<div class="row">
@foreach (var image in Model.ImageList)
{
    if (counter == 5)
    {
        @: </div><div class="row">
        counter = 1;
    }
    <div class="col-4">
        <img class="img-thumbnail" src="/Image/Home/Image/@image.Id" />
        <h2>@image.Title</h2>
        <h2>@image.Id</h2>
    </div>


    { counter++; }
}
</div>