@using ProjectStorage.Web.Constants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project Storage</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />-->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar-nav">
        <nav class="navbar navbar-toggleable-md
                   @(string.IsNullOrEmpty(ViewBag.Style) ? "navbar-light bg-faded" : ViewBag.Style)
             ">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Project Storage</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="Image" asp-controller="Home" asp-action="Index">Browse Images</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="Project" asp-controller="Manage" asp-action="Browse">Browse Projects</a>
                    </li>

                    @if (User.IsInRole(GlobalConstants.AdministratorRole))
                    {
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administrator
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="Administrator" asp-controller="User" asp-action="All">Users</a>
                                <a class="dropdown-item" asp-area="Administrator" asp-controller="Category" asp-action="All">Categories</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole(GlobalConstants.ImageModeratorRole))
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="Image" asp-controller="Manage" asp-action="Moderate">Moderate</a>
                        </li>
                    }

                </ul>
                <ul class="nav navbar-nav ml-auto">
                    @await Html.PartialAsync("_LoginPartial")
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        <br/>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - ProjectStorage</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>