@model FileServiceModel

@{
    ViewBag.Title = "Delete File";

}
<h2>@Model.Name</h2>

<input disabled class="btn btn-primary" value="Download File"/>

<form method="post">
    <input type="submit" class="btn btn-danger" value="Delete"/>
</form>
@Html.ActionLink("Go to project", "Details", "Manage", new { area = "Project", id = Model.ProjectId }, new { @class = "btn btn-primary" })