@using ProjectStorage.Services.Implementations
@using ProjectStorage.Services.Models.File
@model ProjectStorage.Services.Models.File.FileServiceModel
@inject IFileService FileService
@inject UserManager<User> UserManager

@{
    ViewBag.Title = Model.Name;
    string s = System.Text.Encoding.Default.GetString(Model.Content, 0, Model.Content.Length);

}
<h2>@Model.Name</h2>
<hr />
@if (!Model.IsInRootFolder)
{
    <a href="/Project/Folders/Details/@Model.FolderId.ToString()" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go to Folder</a>
}
<a href="/Project/Manage/Details/@Model.ProjectId" class="btn btn-primary"><i class="fa fa-level-up" aria-hidden="true"></i> Go to Project</a>

<a href="/Project/Files/Download/@Model.Id" download class="btn btn-primary"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download File</a>
<br/>
<br/>
<div class="container-fluid card">
    <p>
        <pre>@s</pre>
    </p>
</div>
<br/>

@if (User.IsInRole(GlobalConstants.ProjectTesterRole) || FileService.IsOwner(UserManager.GetUserId(User), Model.Id.ToString()))
{
    @Html.ActionLink("Delete File", "Delete", "Files", new { area = "Project", id = Model.Id.ToString() }, new { @class = "btn btn-danger" })
}