@model FileServiceModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

}
<h2>@Model.Name</h2>

<a href="/Project/Files/Download/@Model.Id" download class="btn btn-primary"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download File</a>
<hr/>
<br/>

@if (!Model.IsInRootFolder)
{
    @Html.ActionLink("Go to folder", "Details", "Folders", new { area = "Project", id = Model.FolderId.ToString() }, new { @class = "btn btn-info" }) <br /> <br />
}
@Html.ActionLink("Go to project", "Details", "Manage", new { area = "Project", id = Model.ProjectId }, new { @class = "btn btn-primary" })