@model ProjectStorage.Web.Areas.Administrator.Models.User.UserEditModel
<h4>Edit Course - @Model.Username</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @foreach (var role in Model.AllRoles)
            {
                if (Model.Roles.Contains(role))
                {
                    <input name="Roles" type="checkbox" value="@role" checked />@role
                }
                else
                {
                    <input name="Roles" type="checkbox" value="@role" />@role
                }
            }

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="All">Back to All Courses</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}