@model UserEditModel

@{
    ViewBag.Title = "Edit User Roles - " + Model.Username;
}

<h4>Edit Course - @Model.Username</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @foreach (var role in Model.AllRoles)
            {
                if (Model.Roles.Contains(role))
                {
                    <label class="form-check-label">
                        <input name="Roles" class="form-check-input" type="checkbox" value="@role" checked /> @role
                    </label>
                }
                else
                {
                    <label class="form-check-label">
                        <input name="Roles" class="form-check-input" type="checkbox" value="@role" /> @role
                    </label>
                }
                <br />
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="All">Back to All Courses</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}