@model FolderInformationServiceModel

@{
    ViewBag.Title = "Projects Details";
}
<a href="/Project/Manage/Browse" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to All Projects</a>
@{
    var id = ViewContext.RouteData.Values["id"];
}

<hr />
<div class="container-fluid">

    <h2>Project - @Model.FolderName</h2>
    <a href="/Project/Manage/Download/@id" download class="btn btn-primary"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download Project</a>

    <hr />
    <table class="table table-bordered table-hover">
        @foreach (var folder in Model.SubfolderIdentifiers.OrderBy(sf => sf.FolderName))
        {
            <tr>
                <td>
                    <i class="fa fa-folder" aria-hidden="true"></i> @Html.ActionLink(folder.FolderName, "Details", "Folders", new { area = "Project", id = folder.Id })
                </td>
            </tr>
        }
        @foreach (var file in Model.FilesInFolder.OrderBy(f => f.Name))
        {
            <tr>
                <td>
                    <i class="fa fa-file-text" aria-hidden="true"></i> @Html.ActionLink(file.Name, "Details", "Files", new { area = "Project", id = file.Id })
                </td>
            </tr>
        }
    </table>
</div>