@using ProjectStorage.Services.Models.Folder
@model ProjectStorage.Services.Models.Folder.FolderInformationServiceModel

@{
    ViewBag.Title = "Delete Folder";
}

<h2>Are you sure you want to delete folder @Model.FolderName? This action can not be undone.</h2>
<form method="post">
    <input type="submit" class="btn btn-danger" value="Delete" />
</form>